{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
         {% block title %}orders app{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'orders/css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
<body>
    <header>
        <h1>Orders</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>