{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<h2>Orders table</h2>


<button type="button" class="btn btn-primary">
  New <span class="badge badge-dark">5</span>
</button>

<div class="table-responsive">
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order number</th>
      <th scope="col">Customer</th>
      <th scope="col">Drawing number</th>
    </tr>
  </thead>
  <tbody>
      
    {% for thing in orders %}     
     {% if thing.id == 1 %}
    <tr class="{{ tr_class_succes }}">
        {% endif %}
      <th scope="row">{{ thing.id }}</th>
      <td>{{ thing.order_number }}</td>
      <td>{{ thing.customer }}</td>
      <td>{{ thing.drawing_number }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
{% endblock content %}