{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}

{% block head %}
  {{ block.super }}
{% endblock head %}

{% block header %}
  {{ block.super }}
{% endblock header %}



{% block content %}
<div class="container-fluid">
    
        <a class="btn btn-primary btn-lg" role="button"
            href="{% url 'home' %}" role="button">Home</a>
        <a class="btn btn-primary btn-lg" role="button"
            href="{% url 'order_create' %}" role="button">Add</a>
        <a class="btn btn-primary btn-lg" role="button"
            href="{% url 'order_index' %}" role="button">Orders</a>    
    
</div>
{% endblock content %}

{% block footer %}
  {{ block.super }}
{% endblock footer %}






