{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ thing3.order_id }} - Edit
{% endblock title %}

{% block header %}
  {{ block.super }}
{% endblock header %}

{% block nav %}
  {{ block.super }}
{% endblock nav %}

{% block content %}
<div class="container">
  <div class="col-md-6 align-self-center  offset-md-3">
  <h2>Edit {{ thing3.project_no }}</h2>
    {% csrf_token %}
    {% crispy form %}
</div>
</div>
{% endblock content %}

{% block footer %}
  {{ block.super }}
{% endblock footer %}