{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ thing.order_id }} - Detail
{% endblock title %}

{% block header %}
  {{ block.super }}
{% endblock header %}

{% block nav %}
  {{ block.super }}
{% endblock nav %}

{% block content %}
<!--<div class="container">-->
<!--  <h2>Request number: {{ thing.request_rorder_id }}</h2>-->
<!--  <p>Request type: {{ thing.request_r.r_type }}</p>-->
<!--  <p>Customer name: {{ thing.customer }}</p>-->
<!--  <p>Drawing number: {{ thing.drawing_number }}</p>-->
<!--  <p>Requested date: {{ thing.request_r.estimate }}</p>-->
<!--  <p>Requested by: {{ thing.request_r.order_by }}</p>-->
<!--  <p>Date posted: {{ thing.request_r.post_date }}</p>-->
  
  
  
<!--  <a class="btn btn-outline-secondary btn-md" role="button" -->
<!--      href="{% url 'order_edit' pk=thing.order_id %}">-->
<!--      Edit  -->
<!--  </a>-->
<!--</div>-->
{% endblock content %}

{% block footer %}
  {{ block.super }}
{% endblock footer %}